= form_for @meeting do |f|
  - if @meeting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meeting.errors.count, "error")} prohibited this meeting from being saved:"
      %ul
        - @meeting.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :体重
    = f.text_field :name,placeholder: '例）70'
    kg
  .field
    = f.label :体脂肪
    = f.text_field :fat,placeholder: '例）20' 
    ％
    .field
    = f.label :メニュー
    = f.text_field :menu,placeholder: 'ベンチプレス' 
    .field
    = f.label :消費カロリー
    = f.text_field :cc,placeholder: '例）300' 
    Kcal
    .field
    = f.label :摂取カロリー
    = f.text_field :ci,placeholder: '例）400' 
    Kcal
  .field
    = f.label :記録時間
    = f.datetime_select :start_time
  .actions
    = f.submit 'Save'
